<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".applications.MyNotification"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProjectApp2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".activity.nguoithue.DanhSachPhongTheoChuTroActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chutro.YeuCauDatPhongChiTietActivity"
            android:exported="false" />
        <activity
            android:name=".activity.nguoithue.DetailPhongTroNguoiThueActivity"
            android:exported="false" />
        <activity
            android:name=".activity.nguoithue.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.nguoithue.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.thongbao.YeuCauFragment"
            android:exported="false" />
        <activity
            android:name=".fragment.thongbao.KetQuaFragment"
            android:exported="false" />
        <activity
            android:name=".activity.nguoithue.RoomOfDistrictActivity"
            android:exported="false" />
        <activity
            android:name=".activity.loginregister.QuenMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".activity.nguoithue.DanhSachPhongGoiYActivity"
            android:exported="false" />
        <activity
            android:name=".activity.nguoithue.RoomRandomActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.nguoithue.DanhSachPhongGhepActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.nguoithue.RenterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.chutro.ThanhToanGoiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chutro.DetailPhongTroActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chutro.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chutro.EditRoomActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.chutro.AddRoomActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.chutro.AuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chutro.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chutro.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chutro.RenterListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chutro.RenterDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chutro.NotificationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chutro.MotelRoomOwnerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.loading.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- <activity -->
        <!-- android:name=".ThongTinChinhSachActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activity.loginregister.RegisterChuTroActivity"
            android:exported="false" />
        <activity
            android:name=".activity.loginregister.RegisterNguoiThueActivity"
            android:exported="false" />
        <activity
            android:name=".activity.loginregister.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chutro.RoomMassageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.chutro.PhongNhanTinActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>